# Flutter/Dart
.dart_tool/
.flutter-plugin-dependencies
build/
.pub-cache/
.pub/
*.g.dart
*.freezed.dart

# Android
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
test/support/sqlite3.dll
.worktrees/
